html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
.installerBody {
	background:url(../images/bgTex.jpg) repeat;
	font-family:"Courier New", Courier, monospace;
}
.wrapper-installer {
	width:1000px;
	margin:0 auto;
}
.xsp-installer {
	background:url(../images/sprite.png) no-repeat -432px -55px;
	height: 56px;
	width: 124px;
	position:absolute;
	top:0;
	left:0;
}
.logo-installer {
	background:url(../images/sprite.png) no-repeat 0px 0px;
	height: 275px;
	width: 408px;
	margin:150px auto 0;
}
.shadow-installer {
	background:url(../images/sprite.png) no-repeat -388px 0px;
	height: 44px;
	margin: -24px auto 0;
	width: 530px;
}
.text-installer {
	color:#526068;
	width:100%;
	text-align:center;
	font-size:40px;
	margin:20px 0 0;
}
#installNotes {
	width:400px;
	height:225px;
	margin:10px auto;
	text-align:left;
	font-family:"Times New Roman", Times, serif;
	color:#536068;
}
#errorText {
	height:40px;
	width:480px;
	font-size:15px;
	color:#1785cd;
	margin:150px auto 0 auto;
	text-align:center;
}

.logInLink { text-decoration:none; color:#5D9DC1; }
.logInLink:hover { text-decoration:underline; }
.logInLink:active { text-decoration:none; }

.registrationMain {
	width:500px;
	margin:10px auto;
	background-color:#111111;
	-moz-border-radius:15px; 
    -webkit-border-radius:15px; 
	border-radius:15px;
	border: 10px solid #80715a;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}

#registrationMainHeight{ height:411px; }
#loginMainHeight { height:360px; }
#rememberPwdMainHeight { height:273px; }

#regContentArea {
	width:460px;
	height:30px;
	margin:0 auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:20px;
	color:#ffffff;
}
h1#regContentAreaHeader {
	font-size:24px;
}
p#regContentAreaText {
	font-size:11px;
	margin:5px 0 0 0;
	color:#999999;
}
.regButtonSpace{
	width:480px;
	height:30px;
	margin:20px 0 0 0;
	padding-left:10px;
	padding-right:10px;
}
#anchorButton {
	background-color:#303030;
	margin-left:10px;
	-moz-border-radius:5px; 
    -webkit-border-radius:5px; 
	border-radius:5px;
	border:2px solid #828785;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	font-size:12px;
	font-family:Gadget, sans-serif;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
}

#anchorButton:hover { background-color:#444444; }
#anchorButton:active { background-color:#111111; }

#regFormFooter {
	width:490px;
	height:70px;
	margin:0 auto;
	background-color:#efefef;
	-moz-border-radius:0 0 5px 5px; 
    -webkit-border-radius:0 0 5px 5px; 
	border-radius:0 0 5px 5px;
}
.panelHeader {
	width:100%;
	height:125px;
	background-color:#303030;
	margin:0 auto;
	border-top:15px solid #272727;
	border-bottom:15px solid #272727;
}
.panelHeaderIn {
	width:1100px;
	height:125px;
	margin:0 auto;
	background:url(../images/shadow-header.png) no-repeat top left; 
}
h1.panelText {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:40px;
	font-variant:small-caps;
	font-weight:bold;
	color:#ffffff;
	float:left;
	margin:20px 0 0 30px;
	text-align:center;
}
h3.panelMessage {
	font-family:Gadget, sans-serif;
	font-size: 12px;
	color:#ffffff;
	float:right;
	margin:40px 40px 0 0;
	text-align:center;
	font-weight:bold;
}
.panelIndex {
	width:100%;
	background:url(../images/grains.jpg) repeat;
	margin:0 auto;
}

#panelIndexMain { height:auto; }

.footer{
	width:100%;
	height:50px;
	background-color:#303030;
	margin:0 auto;
	border-top:5px solid #272727;
	border-bottom:5px solid #272727;
}
h3.footerMessage {
	font-family:Gadget, sans-serif;
	font-size:12px;
	color:#ffffff;
	margin:17px 20px 0 20px;
}

#footerMessageLeft { float:left; }
#footerMessageRight { float:right; }

.icon {
	width:100px;
	height:100px;
	margin:5px 0 0 36px;
	border:1px solid #afaeae;
	float:left;
}

.icon:hover { background-color:#5D9DC1; }
.icon:active { background:none; }

.panelMenuDescription {
	width:300px;
	height:100px;
	float:right;
	margin:15px 20px 0 0;
	font-family:"Courier New", Courier, monospace;
    font-size:12px;
}
.menuSub {
	width:1000px;
	height:110px;
	background:url(../images/bgTex.jpg) repeat;
	margin:0 auto;
	border:double #afaeae;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
   -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
   -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	z-index:1;
}
.pageName {
	width:1000px;
	margin:10px auto;
	padding-top:10px;
    text-align:left;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:30px;
	font-variant:small-caps;
	color:#5D9DC1;
}
.tabbedPanelBar {
	width:1100px;
	height:40px;
	background-color:#303030;
	margin:-20px auto;
	position:relative;
	top:25px;
	z-index:0;
	-moz-border-radius:10px 10px 0 0; 
    -webkit-border-radius:10px 10px 0 0; 
	border-radius:10px 10px 0 0;
}
.tabelButton {
	width:88px;
	margin-top:2px;
	background-color:#303030;
	-moz-border-radius:5px; 
    -webkit-border-radius:5px; 
	border-radius:5px;
	border:2px solid #828785;
	padding-top:2px;
	padding-bottom:2px;
	font-size:12px;
	font-family:Gadget, sans-serif;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
}

.tabelButton:hover { background-color:#444444; }
.tabelButton:active { background-color:#111111; }
#viewMailButton { float:left; margin-left:5px; }
#discardButton { float:left; margin:0 0 0 10px; }

.overFlowBar {
	width:1000px;
	height:37px;
	margin:10px auto;
	text-align:center;
}
.overFlow {
	width:100px;
	height:29px;
	padding-top:6px;
	-moz-border-radius:5px; 
    -webkit-border-radius:5px; 
	border-radius:5px;
	border:1px solid #bebebe;
	background-color:#f7f7f7;
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
	color:#434343;
	text-decoration:none;
	text-align:center;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}

.overFlow:hover { background-color:#dbdbdb; }
.overFlow:active { background-color:#f7f7f7; }
#overflowNext { float:right; margin-right:40px; }
#overflowPrev { float:left; margin-left:40px; }

.CUtrashMain {
	margin:0 auto;
	max-height:800px;
	overflow-y:scroll;
}
.mailerIndex {
	margin: 0 auto;
	width:1100px;
	height:860px;
	background:url(../images/bgTex.jpg) repeat;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}
.sentMailViewer {
	margin: 0 auto;
	width:1100px;
	height:auto;
	background:url(../images/bgTex.jpg) repeat;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}
#validationError {
	height:25px;
	font-size:15px;
	color:#1785cd;
	margin:0 auto;
	text-align:center;
}
.discard {
	width:1000px;
	height:30px;
	margin:0px auto;
}
.profileIndex {
	margin: 0 auto;
	width:1000px;
	background:url(../images/bgTex.jpg) repeat;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}
#profileIndexHeight { height:625px; }
#addAdminIndexHeight { height:425px; }

.adminsIndex {
	margin: 0 auto;
	width:1000px;
	max-height:850px;
	overflow-y:scroll;
	background:url(../images/bgTex.jpg) repeat;
	-moz-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -webkit-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
    -khtml-box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
	box-shadow:rgba(25,25,25,0.7) 0 4px 10px -1px;
}
#adminError {
	height:40px;
	width:600px;
	font-size:15px;
	color:#1785cd;
	margin:0 auto;
	text-align:center;
}
#validationMessage {
	width:490px;
	height:auto;
	font-size:14px;
	color:#1785cd;
	text-align:center;
}