#tableReg{
	margin-top:10px;
}
#tdRegLabel{
	width:130px;
	height:35px;
	font-weight:bold;
	font-size:13px;
	color:#000000;
	font-family:"Times New Roman", Times, serif;
	padding-left:10px;
}
#tdRegTextField {
	width:320px;
	height:35px;
}
.CUtableMain {
	width:1080px;
	margin:0 auto;
	border:1px solid #afaeae;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:12px;
	color:#333333;
}

.CUmainTHdate { width:90px; padding:5px; background:#afaeae; }
.CUmainTHname { width:140px; padding:5px; text-align:left; background:#afaeae; }
.CUmainTHemail { width:190px; padding:5px; background:#afaeae; text-align:left; }
.CUmainTHmsg { width:350px; padding:5px; background:#afaeae;  }
.CUmainTHstatus { width:160px; padding:5px; background:#afaeae; }
.CUmainTHoprt { width:90px; padding:5px; background:#afaeae; }
.CUmainTDhite { height:auto; padding:5px; border:1px solid #afaeae; }
.CUmainTHsubject { width:400px; padding:5px; background:#afaeae;  }
.CUmainTHmailOprt { width:200px; padding:5px; background:#afaeae; }
.CUmainTHmsgJC { width:250px; padding:5px; background:#afaeae;  }
.CUmainTHJCreff { width:100px; padding:5px; background:#afaeae; text-align:left; }
.adminTHid { width:50px; padding:5px; background:#afaeae; }
.adminTHemail { width:240px; padding:5px; background:#afaeae; text-align:left; }

.CUtabletrash {
	width:1050px;
	margin:0 auto;
	border:1px solid #afaeae;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:12px;
	color:#333333;
}

.CUmainTHstatusTrash { width:130px; padding:5px; background:#afaeae; }

.sentMailViewerTDdes { width:90px; padding:5px; }
.sentMailViewerTDlist { width:400px; padding:5px; }
.sentMailViewerTDsubject { width:988px; padding:5px; }
.sentMailViewerTDbody { width:988px; border:double #afaeae; padding-left:50px; padding-right:50px; padding-top:10px; padding-bottom:10px; }
.sentMailViewerOprt { width:1078px; padding:5px; }

.adminTableMain {
	width:570px;
	margin:0 auto;
	border:1px solid #afaeae;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:12px;
	color:#333333;
}
.resetCookies { width:480px; margin-left:30px; }
.resetCookies tr { vertical-align:top; }
.resetCookies td {  text-align:left; font:12px "Comic Sans MS", cursive; padding:0px 10px 0px 0px; }
