html{
	font-family:ubuntu, Verdana, Tahoma, sans-serif;
	font-size: 14px;
	color:@grayDark;
	body{
		/*background:url(../images/bgPattern.png);*/
		h2{
			font-size: 24px;
		}
		.wrapper{
			width:80%;
			margin:0 auto;
		}
		nav{
			float: right;
			position: fixed;
			top:10px;
			right:10px;
			ul{
				li{
					float: right;
					clear: both;
					border-right:3px solid @xspGreen;
					padding: 5px 8px 0px 0;
					margin: 16px 10px 0 0;
					font-size: 15px;
					cursor:pointer;
					&.selected{
						color: @white;
						background: @xspGreen;
					}
				}

			}
		}
		#home,#overView,#services,#process,#gallery,#contactUs{
			width:100%;
		}
		#home{
			background: url(../images/homeBG.jpg) no-repeat 50% top;
			.message{
				font-size:60px;
			}
		}
		footer{
			position:fixed;
			width:100%;
			background:@grayDark;
			color:@white;
			padding:5px;
		}
	}
}