html{
	font-family:ubuntu, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	color:@grayDark;
	body{
		/*background:url(../images/bgPattern.png);*/
		line-height: 1.7;
		h2{
			font-family: robotoThin, ubuntu, Verdana, Tahoma, sans-serif;
			font-size: 50px;
			padding: 60px 0 0;
		}
		p{
			margin-bottom: 15px;
		}
		#header{
			position:absolute;
			top:0;
			width:100%;
			.logo{
				background:url(../images/logo.png) no-repeat;
				background-size: 70%;
				width:160px;
				height:108px;
				margin:10px 0 0 20px;
			}
		}
		.wrapper{
			width:80%;
			margin:0 auto;
			overflow:hidden;
			h3{
				color: @xspGreen;
				font-size: 24px;
				margin:30px 0 20px;
			}
			.webDev{
				background: url(../images/web.png) no-repeat;
				height: 370px;
		   		padding: 40px 0 0 515px;
			}
			canvas#stripes{
				position: absolute;
				left: 0;
				z-index: 0;
			}
		}
		nav{
			float: right;
			position: fixed;
			top:10px;
			right:10px;
			z-index: 1000;
			ul{
				li{
					float: right;
					clear: both;
					text-align: right;
					padding: 5px;
					margin: 12px 10px 0;
					font-size: 15px;
					line-height: 1;
					cursor:pointer;
					width:90px;
					&.selected{
						color: @white;
						background: url(../images/navBG.png);
						animation:focus 3s;
					}
				}

			}
		}
		#home,#overView,#services,#process,#gallery,#contactUs{
			width:100%;
		}
		#home{
			background: url(../images/homeBG.png) no-repeat 50% center;
			background-size: 100%;
			border-bottom: 40px solid @xspGreen;
			.message{
				margin:130px 0 0;
				text-align: center;
				font-size:100px;
				/*text-shadow:0 -1px #FFFFFF, 0 -2px #FFFFFF, 0 -3px #FFFFFF, 0 -4px #FFFFFF, 0 1px #FFFFFF, 0 2px #FFFFFF, 0 3px #FFFFFF, 0 4px #FFFFFF,
							1px 0 #FFFFFF, 2px 0 #FFFFFF, 3px 0 #FFFFFF, 4px 0 #FFFFFF, -1px 0 #FFFFFF, -2px 0 #FFFFFF, -3px 0 #FFFFFF, -4px 0 #FFFFFF;*/
			}
		}
		#overview{
			ul{
				clear: both;
				li{
					float:left;
					margin: 0 65px 0 0;
    				width: 26%;
				}
			}
		}
		footer{
			position:fixed;
			width:100%;
			background:@grayDark;
			color:@white;
			padding:5px;
			font-size: 12px;
			text-align: center;
		}
	}
}

@keyframes focus{
	from {background:;}
	to{background:url(../images/navBG.png) repeat scroll 40px 0 transparent;}
}